

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  margin: 0px;
  color: rgb(var(--foreground-rgb));
  
}

.TopBar {
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid;
}

.TopBar-left {
  height: 100%;
}

.TopBar-right {
  display: flex;

}

.TopBar-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.TopBar-left {
  padding-top: 7px;
  display: flex;
  align-items: top;
  gap: 10px;
}

.TopBar-logo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.TopBar-search {
  max-width: 100%;
  min-height: 42px;
  border-radius: 8px;
  font-size: 1rem;
  padding-left: 10px;
  border: none;
  z-index: 2;
}

input:focus{
  outline: none;
}

.TopBar-link{
  text-decoration: none;
  color: inherit;
}

a{
  text-decoration: none;
  color: inherit;
}


.TopBar-search-parent {
  width: 712px;
  display: flex;
  flex-direction: column;
}

.TopBar-search-results {
  margin-top: -12px;
  border-radius: 8px;
  border: solid 1px;
  background-color: white;
  color: black;
  width: 100%;
  z-index: 0;
}

.TopBar-search-result-player {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  height: 50px;
}

.TopBar-search-result-player-left {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.TopBar-search-result-player-img{
  font-size: .6rem;
  width: 60px;
}