.PlayerPage {
    margin: 40px 50px 0px 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.PlayerPage-top{
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.PlayerPage-top-img{
    width: 200px;
}

.PlayerPage-top-description {
    display: flex;
    flex-direction: column;
}

.PlayerPage-top-name {
    font-size: 2rem;
    font-weight: bold;
}

.PlayerPage-content-section-header {
    margin-top: 20px;
    font-size: 1.4rem;
}

.PlayerPage-content {
    margin-top: 14px;
}

.PlayerPage th {
    text-align: left;
}

.PlayerPage td {
    width: 180px;
}

.PlayerPage-content-section-content {
    margin-top: 10px;
}

.PlayerPage-table-opponent-logo {
    width: 40px;
}

.PlayerPage-table-opponent {
    width: 40px;
}